/* _others.scss */

/* Flex helpers */
.flex {
  display: flex;
}
.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}
.flex-between {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* Padding & Margin short utilities */
.p-2 {
  padding: 2rem;
}
.m-1 {
  margin: 1rem;
}

/* Text helpers */
.text-center {
  text-align: center;
}
.text-uppercase {
  text-transform: uppercase;
}
